/* LICENSE_CODE JUNGO */

html, body, #content, form
{
    height: 100%;
}

html
{
    overflow-y: scroll;	
}

body
{
    margin:0px;
    font-family: Verdana;
}

.topbar
{
    padding-top: 34px;
}

form
{
    margin:0px;
}

ul
{
    padding:0px;
}

li
{
    margin:15px;
}

.radio, .radio_checked
{ 
    margin: 0 15px 0 5px;
}

.parental_page .radio, .parental_page .radio_checked
{
    margin: 0 5px 0 5px;
}

.radio input , .radio_checked input
{
    display: none;
}

.radio IMG
{
    border: none;
}

label.radio_label
{
    padding-right: 15px;
}

.vertical_radio .radio_label
{
    display: block;
    padding-left: 34px;
}

.vertical_radio strong
{
    position: relative;
    top: 0.5em;
}

.vertical_radio .radio
{
    float: left;
    position: relative;
    top: 0.5em;
    margin: 0 15px 0 5px;
}

.checkbox, .checkbox_checked
{ 
    margin: 0 10px 0 5px;
    padding: 0 0 0 0; 
}

.checkbox input ,.checkbox_checked input
{
    display: none;
}

.checkbox IMG
{
    border: none;
}

.dropdown_box 
{
    font-family: Verdana;
    border:0px;
    height:18px;
    background:url(images/bt_dropdown_center.gif) repeat-x;
    cursor:default;
}

.dropdown_div
{
    border:1px solid black;
    position:absolute;
    visibility:hidden;
    background:white;
    overflow-x:hidden;
    overflow-y:scroll;
    z-index: 1;
}

.parental_page TD.bt_border
{
	padding-left:4px;
	padding-right:4px;
}

.parental_page .radio_label
{
	padding-right: 5px;
}

.dropdown_div div
{
    padding:0 5px 0 5px;
    white-space: nowrap;
    cursor: default;
}

.dropdown_div div.hover
{
    padding:0 5px 0 5px;
    background:#a9d1ff;
    color:white;
    white-space: nowrap;
    cursor: default;
}

.dropdown_div span
{
    display:none;
}

A:hover.gray_link, A:link.gray_link, A:visited.gray_link, A:active.gray_link
{
    color: #aaaaaa !important;
    text-decoration:none;
}

.subheading 
{ 
    font-size: 0.8em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    margin-bottom: 10px;
}
.copyright
{
    font-size: 0.8em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: left;
}

div.nav_separator_row2
{
    background: url(/images/subNav_seperator.gif) no-repeat 50% 50%;
    height:100%;
}

div.nav_separator_row3
{
    background: url(/images/subNav_seperator.gif) no-repeat 50% 50%;
    width:16px;
    height:100%;
}

.bt_attention
{
    color:red;
}

div#settings_link_div
{
    line-height:2;
}

td.external_link
{
    background: url(images/bt_link_icon.gif) no-repeat left bottom;
    padding-top:12px;
    padding-left: 30px;
    height:32px;
}

div#footer_cont
{
    margin-top:40px;
    border-top:1px solid #d9d9d9;
    padding-top:20px;
    padding-bottom:21px;
    width:100%;
    height:36px;
    background:white;
    text-align:center;
}

div#footer
{
    margin:0 auto;
    background:url(images/bt_logo.gif) no-repeat right top;
    height:36px;
    width:695px;
    font-family: verdana;
    font-size: 0.9em;
    color:#666666;
    position:relative;
}

div#footer div
{
    position:absolute;
    left:0;
    bottom:0;
}

div.admin_row
{
    background:url(images/title.gif) no-repeat;
    height:31px;
    width:695px;
    padding-top:10px;
    text-align:right;
    font-family: verdana;
    font-size:1.0em;
    color: gray;
}

.invalid_entry
{
    color:red;
}

.invalid_entry_spaced
{
    color:red;
    padding-left:30px;
}

.second_nav_mid
{
    background:url(images/second_nav_mid.gif) no-repeat;
}

.second_nav_bottom
{
    background:url(images/second_nav_bottom.gif) no-repeat;
}

.nav_bottom
{
    background:url(images/nav_bottom.gif) no-repeat;
}

div
{
    text-align:left;
}

div.nowrap
{
    white-space: nowrap;
}

div.bt_class
{
}

div.bt_class.spaced
{
    padding-top: 50px;
}

div.bt_class.spaced_separator
{
    padding-top:52px;
    background:url(images/bt_lines.gif) repeat-x 0 25px;
}

div#attention
{
  padding-top:15px;
  padding-left:80px;
  margin-left:110px;
  width:400px;
  min-height:70px;
  height:auto !important;
  height:70px;
  background:url(images/bt_attention.png) no-repeat 0px 40px;
}

div#info
{
  padding-top:15px;
  padding-left:80px;
  margin-left:110px;
  width:400px;
  min-height:70px;
  height:auto !important;
  height:70px;
  background:url(images/bt_message_icon.gif) no-repeat 0px 40px;
}

textarea#ping_result
{
  width: 667px;
  resize: none;
}

div.net-title
{
    text-align: center;
    font-size: 0.9em;
}

div.net-entity
{
    margin: 2px;
    width: 95px;
    overflow: hidden;
    text-align: center;
    font-size: 0.9em;
}

div.waiting_left
{
    padding-left: 10%;
    float: left;
}

div.waiting_right
{
    padding-right: 10%;
    float: right;
}

.net-entity-mac
{
    margin: 2px;
    width: 95px;
    overflow: hidden;
    text-align: center;
    font-size: 0.9em;
    font-family: sans-serif;
}

table.fixed_table
{
    table-layout: fixed;
}

table.center_table
{
    margin-left:auto;
    margin-right:auto;
}

img[name="mobile_rssi_img"] {
    vertical-align: middle;
}

span[id="mobile_rssi_lbl"] {
    vertical-align: middle;
    padding-left: 7px;
}
